  #jxgbox {
    max-width: calc(100vw - 25px);
    max-height: calc(100vh - 25px);
    width: 1920px;
    height: calc(50vw);
  }

  #Bildwechsel {
    position: fixed;
    left: 25px;
    top: 5px;
    padding: 5px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    border: 0px solid lime;
    zoom: reset;
  }

  #Bildwechsel fieldset {
    position: relative;
    float: top;
    background-color: rgba(190, 190, 190, 0.4);
    font-size: small;
    text-shadow: 2px 2px 4px white;
    padding: 5px;
  }

  #Bildwechsel fieldset legend {
    color: black;
    text-shadow: -1px 0 2px white, 0 1px 2px white, 1px 0 2px white, 0 -1px 2px white;
  }

